* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.carousel-container {
    display: inline-block;
    width: 48%;
    height: 0px;
    background-color: blue;
}

button
{
    border: none;
    background-color: transparent;
    width: 10px;
    height: 10px;
}

button:active
{
    background-color: gray;
}